#navbar{
    display:flex;
    justify-content:space-evenly;
    border: 2px solid;
    padding-top: 20px;
    padding-bottom: 20px;
   
}
#main{
    display:flex;
    justify-content: space-between;
    margin-left:20%;
    margin-right:10%;
}

#intro{
    display:flex;
    justify-content:space-between;
    border:2px; 
}

#edu{
    /* display:flex;
    justify-content:space-between; */
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;

    grid-gap: 10px;  

}

.grid{
    background-color: aqua;
    padding: 20px;
   text-align: center;
   border:2px solid ;
}



.skill1{
    
    display: flex;
    justify-content:space-evenly;
   
}
.skill2{
    
    display: flex;
    justify-content:space-evenly;
    
}
.container{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    grid-gap:10px;
    grid-auto-columns:minmax(100px,auto);
    grid-auto-rows:minmax(100px,auto);
   
}

.item1{
    background-color: aqua;
    border:2px solid;
    border-radius:2px ;
    grid-column-start:1 ;
    grid-column-end:3 ;

}
.item2{
    background-color: aqua;
    border:2px solid;
    border-radius:2px ;

}
.item3{
    background-color: aqua;
    border:2px solid;
    border-radius:2px ;

}
.item4{
    background-color: aqua;
    border:2px solid;
    border-radius:2px ;

}
.item5{
    background-color: aqua;
    border:2px solid;
    border-radius:2px ;

}
h2{
    text-shadow: 2px 2px 4px;
}
.grid-container3 {
    display:grid;
        grid-template-columns:repeat(2,1fr);
        grid-template-rows:repeat(2,1fr);
        grid-gap:10px;
        grid-auto-columns:minmax(100px,auto);
        grid-auto-rows:minmax(100px,auto);
    }
#raju{
    box-shadow:10px 10px 20px #bababa,10px 10px 20px #ffffff;
    border:2px solid black;
    margin-left:30%;
}
#raju1{
    box-shadow:10px 10px 20px #bababa,10px 10px 20px #ffffff;
    border:2px solid black;
    margin-left:30%;
}
#info{
    border:2px solid;

}
.cont{
    background-color:yellow;
    
}
footer{
   
    padding: 3px;

}
#logo{
    display:flex;
    justify-content: space-between;

}



